{
  "files": [
    {
        "paths": [
            "/var/log/apache2/access.log"
        ],
        "fields": {"type": "apache-access"}
    },
    {
        "paths": [
            "/var/log/apache2/error.log"
        ],
        "fields": {"type": "apache-error"}
    }
  ]
}

