ANSIBLEFACILITY <%{NONNEGINT:facility}.%{NONNEGINT:severity}>
ANSIBLEPRIORITY <%{NONNEGINT:priority}>

ANSIBLE (%{ANSIBLEFACILITY}|%{ANSIBLEPRIORITY})%{SYSLOGTIMESTAMP}%{SPACE}%{HOSTNAME:logsource}%{SPACE}%{WORD:program}-<%{WORD:module}>: Invoked with %{GREEDYDATA:message}
