auto ens3
iface ens3 inet static
        address {{inventory_hostname}}
        netmask 255.255.255.0
        gateway {{ inventory_hostname | regex_replace('(.*)\.[^.]*$', '\\1') }}.1
pre-up /sbin/ethtool -L ens3 combined 4
