LoadPlugin dbi
<Plugin dbi>

    <Query numberUsers >
         Statement "select count(*) AS numberUsers from oc_storages where id like 'home::%';"
         <Result>
             Type gauge
             InstancePrefix "numberUsers"
             ValuesFrom "numberUsers"
         </Result>
    </Query>
    
    <Query numberFiles >
         Statement "select count(*) AS numberFiles from oc_filecache ;"
         <Result>
             Type gauge
             InstancePrefix "numberFiles"
             ValuesFrom "numberFiles"
         </Result>
    </Query>
    
    <Query filesSize >
         Statement "select sum(size) AS filesSize from oc_filecache where mimetype <> 2;"
         <Result>
             Type gauge
             InstancePrefix "filesSize"
             ValuesFrom "filesSize"
         </Result>
    </Query>
    <Query filesSizeCache >
         #Statement "select sum(size) AS filesSize from oc_filecache where path = 'cache';"
         Statement "select sum(size) AS filesSize from oc_filecache where path_hash = '0fea6a13c52b4d4725368f24b045ca84';"
         <Result>
             Type gauge
             InstancePrefix "filesSizeCache"
             ValuesFrom "filesSize"
         </Result>
    </Query>
    <Query filesSizeFiles >
         #Statement "select sum(size) AS filesSize from oc_filecache where path = 'files';"
         Statement "select sum(size) AS filesSize from oc_filecache where path_hash = '45b963397aa40d4a0063e0d85e4fe7a1';"
         <Result>
             Type gauge
             InstancePrefix "filesSizeFiles"
             ValuesFrom "filesSize"
         </Result>
    </Query>
    <Query filesSizeTrashbin >
         #Statement "select sum(size) AS filesSize from oc_filecache where path = 'files_trashbin';"
         Statement "select sum(size) AS filesSize from oc_filecache where path_hash = 'fb66dca5f27af6f15c1d1d81e6f8d28b';"
         <Result>
             Type gauge
             InstancePrefix "filesSizeTrashbin"
             ValuesFrom "filesSize"
         </Result>
    </Query>
    <Query filesSizeVersions >
         #Statement "select sum(size) AS filesSize from oc_filecache where path = 'files_versions';"
         Statement "select sum(size) AS filesSize from oc_filecache where path_hash = '9692aae50022f45f1098646939b287b1';"
         <Result>
             Type gauge
             InstancePrefix "filesSizeVersions"
             ValuesFrom "filesSize"
         </Result>
    </Query>
    <Query filesSizeGallery >
         #Statement "select sum(size) AS filesSize from oc_filecache where path = 'gallery';"
         Statement "select sum(size) AS filesSize from oc_filecache where path_hash = '2767cc3ede7592a47bd6657e3799565c';"
         <Result>
             Type gauge
             InstancePrefix "filesSizeGallery"
             ValuesFrom "filesSize"
         </Result>
    </Query>
    <Query filesSizeThumbnails >
         #Statement "select sum(size) AS filesSize from oc_filecache where path = 'thumbnails';"
         Statement "select sum(size) AS filesSize from oc_filecache where path_hash = '3b8779ba05b8f0aed49650f3ff8beb4b';"
         <Result>
             Type gauge
             InstancePrefix "filesSizeThumbnails"
             ValuesFrom "filesSize"
         </Result>
    </Query>

    <Query numberTrashFiles >
         Statement "select count(*) as numberTrashFiles from oc_files_trash ;"
         <Result>
             Type gauge
             InstancePrefix "numberTrashFiles"
             ValuesFrom "numberTrashFiles"
         </Result>
    </Query>
    
    <Query numDistinctUserLogins1min >
         Statement "select count(*) as num_logins from oc_preferences where appid = 'login' and configkey = 'lastLogin' and cast(configvalue as int) > (UNIX_TIMESTAMP(now())-60) ;"
         <Result>
             Type gauge
             InstancePrefix "numDistinctUserLogins1min"
             ValuesFrom "num_logins"
         </Result>
    </Query>
    
    <Query numDistinctUserLogins1h >
         Statement "select count(*) as num_logins from oc_preferences where appid = 'login' and configkey = 'lastLogin' and cast(configvalue as int) > (UNIX_TIMESTAMP(now())-3600) ;"
         <Result>
             Type gauge
             InstancePrefix "numDistinctUserLogins1h"
             ValuesFrom "num_logins"
         </Result>
    </Query>
    
    <Query numDistinctUserLogins1d >
         Statement "select count(*) as num_logins from oc_preferences where appid = 'login' and configkey = 'lastLogin' and cast(configvalue as int) > (UNIX_TIMESTAMP(now())-86400) ;"
         <Result>
             Type gauge
             InstancePrefix "numDistinctUserLogins1d"
             ValuesFrom "num_logins"
         </Result>
    </Query>
    
    <Query numDistinctUserLogins1w >
         Statement "select count(*) as num_logins from oc_preferences where appid = 'login' and configkey = 'lastLogin' and cast(configvalue as int) > (UNIX_TIMESTAMP(now())-604800) ;"
         <Result>
             Type gauge
             InstancePrefix "numDistinctUserLogins1w"
             ValuesFrom "num_logins"
         </Result>
    </Query>
    <Query numDistinctUserLogins1m >
         Statement "select count(*) as num_logins from oc_preferences where appid = 'login' and configkey = 'lastLogin' and cast(configvalue as int) > (UNIX_TIMESTAMP(now())-2592000) ;"
         <Result>
             Type gauge
             InstancePrefix "numDistinctUserLogins1m"
             ValuesFrom "num_logins"
         </Result>
    </Query>
    <Query numDistinctUserLogins6m >
         Statement "select count(*) as num_logins from oc_preferences where appid = 'login' and configkey = 'lastLogin' and cast(configvalue as int) > (UNIX_TIMESTAMP(now())-5184000) ;"
         <Result>
             Type gauge
             InstancePrefix "numDistinctUserLogins6m"
             ValuesFrom "num_logins"
         </Result>
    </Query>
    <Query numDistinctUserLogins1y >
         Statement "select count(*) as num_logins from oc_preferences where appid = 'login' and configkey = 'lastLogin' and cast(configvalue as int) > (UNIX_TIMESTAMP(now())-31104000) ;"
         <Result>
             Type gauge
             InstancePrefix "numDistinctUserLogins1y"
             ValuesFrom "num_logins"
         </Result>
    </Query>



  <Database "owncloud">
    Driver "mysql" 
    #DriverOption "host" "localhost"
    # You may connect via socket as well:
    DriverOption "mysql_unix_socket" "/var/run/mysqld/mysqld.sock"
    
    DriverOption "username" "{{mariadb_user}}"
    DriverOption "password" "{{mariadb_passwd}}"
    DriverOption "dbname" "{{mariadb_database}}"
    SelectDB "{{mariadb_database}}"
    
        Query numberUsers
        Query numberFiles
        Query filesSize
        Query filesSizeCache
        Query filesSizeFiles
        Query filesSizeTrashbin
        Query filesSizeVersions
        Query filesSizeGallery
        Query filesSizeThumbnails
        Query numberTrashFiles
        
        Query numDistinctUserLogins1min
        Query numDistinctUserLogins1h
        Query numDistinctUserLogins1d
        Query numDistinctUserLogins1w
        Query numDistinctUserLogins1m
        Query numDistinctUserLogins6m
        Query numDistinctUserLogins1y

  </Database>
  
</Plugin>

