[maxscale]
threads=8

[Splitter Service]
type=service
router=readwritesplit
localhost_match_wildcard_host=1
servers={% for host in groups["mariadb"] %}{{ host}},{% endfor %}

max_slave_connections=100%
#max_slave_connections=2

user={{ maxscale_user }}
passwd={{ maxscale_password }}

# uncomment the following to lines to activate the top10Logger
#router_options=running
#filters=top10Logger



# https://mariadb.com/kb/en/mariadb-enterprise/mariadb-maxscale-14/readwritesplit/
# default: LEAST_CURRENT_OPERATIONS
#router_options=slave_selection_criteria=LEAST_CURRENT_OPERATIONS
#router_options=slave_selection_criteria=LEAST_ROUTER_CONNECTIONS
#router_options=slave_selection_criteria=LEAST_GLOBAL_CONNECTIONS

# Use the master for reads
#master_accept_reads=true

[Splitter Listener]
type=listener
service=Splitter Service
protocol=MySQLClient
port={{ maxscale_port }}
socket={{ maxscale_socket }} 


{% for host in groups["mariadb"] %}
[{{ host }}]
type=server
address={{ hostvars[host].inventory_hostname }}
port=3306
protocol=MySQLBackend
priority={{loop.index}}

{% endfor %}

[Galera Monitor]
type=monitor
module=galeramon
monitor_interval=1000
#disable_master_failback=1
use_priority=true
servers={% for host in groups["mariadb"] %}{{ host}},{% endfor %}

user={{ maxscale_user }}
passwd={{ maxscale_password }}

[CLI]
type=service
router=cli

[CLI Listener]
type=listener
service=CLI
protocol=maxscaled
address=localhost
port=6603

[top10Logger]
# See more at: https://mariadb.com/resources/blog/which-sql-queries-take-all-time-using-maxscale-answer-age-old-question#sthash.BBHfONo9.dpuf
type=filter
module=topfilter
count=10
filebase=/var/log/maxscale/sessions/top10


