input { 
{% for port in elk_owncloud_ports %}
    syslog {
        port => {{port}}
        type => "owncloud"
    }
{% endfor %}
}

filter {
  if [type] == "owncloud" {
    json {
        source => "message"
    }
  }
  if [type] == "syslog" and "_grokparsefailure_sysloginput" in [tags] {
    grok {
      match => { "message" => "%{OWNCLOUD}" }
      remove_tag => ["_grokparsefailure_sysloginput", "_grokparsefailure"]
      add_tag => ["owncloud"]
      overwrite => ["message", "priority", "facility", "severity"]
    }
    syslog_pri {
        syslog_pri_field_name => "priority"
    }
    mutate {
        rename => {
            "syslog_facility" => "facility_label"
            "syslog_facility_code" => "facility"
            "syslog_severity" => "severity_label"
            "syslog_severity_code" => "severity"
        }
    }
  }
}
