filebeat:
  prospectors:
    - paths:
        - /var/log/owncloud/owncloud.log
        - /var/log/owncloud/*.owncloud.log
      input_type: log
      fields:
        logtype: owncloud
      fields_under_root: true
