#!/usr/bin/env bash


BACKUP_DIR_IN_DOCKER="/backup/"
BACKUP_DIR_ROOT="/mnt/data/backup/"

# take weekly backup from (1-7 = Monday-Sunday)
DAY_OF_WEEK_TO_KEEP=6

DAYS_TO_KEEP=7
WEEKS_TO_KEEP=5

# WEEKLY BACKUPS

DAY_OF_WEEK=`date +%u` #1-7 (Monday-Sunday)
EXPIRED_DAYS=`expr $((($WEEKS_TO_KEEP * 7) + 1))`

if [ $DAY_OF_WEEK = $DAY_OF_WEEK_TO_KEEP ];
then
        find $BACKUP_DIR_ROOT -maxdepth 1 -mtime +$EXPIRED_DAYS -name "*-weekly" -exec rm -rf '{}' ';'
        exit 0;
fi

# DAILY BACKUPS

find $BACKUP_DIR_ROOT -maxdepth 1 -mtime +$DAYS_TO_KEEP -name "*-daily" -exec rm -rf '{}' ';'
