#!/bin/bash

if [ "x$2" == "x" ]; then 
    echo "Usage: `basename $0` <enable|disable> <server>
.      e.g.:  en sync1
.      e.g.:  di web2
"
    exit
fi

if [[ $2 =~ web.* ]]; then
    backend="owncloud"
else
    backend="sync"
fi

if [[ $1 =~ e.* ]]; then
    action="enable"
else
    action="disable"
fi

echo "$action server $backend/{{internal_domain}}-$2" | sudo socat /var/lib/haproxy/stats stdio
socat /var/lib/haproxy/stats - <<< "show servers state" > /tmp/haproxy_state

