SHARD=$1

if [ "x$SHARD" == 'x' ]; then
   echo "Usage: `basename $0` <shard_name> <regular-occ-options>"
   exit 1
fi

shift

{% for shard in shard_config[service_name] %}
OC_VERSION_{{shard.shard_name}}={{shard.version}}
{% endfor %}

OC_VERSION_VAR="OC_VERSION_${SHARD}"
OC_VERSION=${!OC_VERSION_VAR}

docker exec -ti --user www-data php_fpm_${OC_VERSION} {{owncloud_webroot}}/${SHARD}/occ "$@"
