#!/bin/bash

if [ "x$1" == "x" ]; then 
    echo "Usage: `basename $0` <dir_to_scan>
.      dir_to_scan:  subdirectory of /mnt in which users are to be scanned: e.g data or 102
"
    exit
fi

for user in `find /mnt/$1 -maxdepth 1 -type d  | sed -e "s&/mnt/$1/&&"`; do 
    (cd /var/www/owncloud; sudo -u www-data -g www-data /usr/bin/php /var/www/owncloud/occ files:scan $user)
done
