#!/bin/bash

SHARD=a01

{% for shard in shard_config[service_name] %}
OC_VERSION_{{shard.shard_name}}={{shard.version}}
{% endfor %}

OC_VERSION_VAR="OC_VERSION_${SHARD}"
OC_VERSION=${!OC_VERSION_VAR}

sudo docker exec -i --user www-data php_fpm_${OC_VERSION} {{owncloud_webroot}}/${SHARD}/occ files:scan "$@"
